<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="title">
    <h1>Exemplos de uso ngx-toastr</h1>
  </div>

  <div style="padding: 1rem;">
    <button type="button" class="btn btn-success" (click)="openToastrSuccess()">
      Successs
    </button>
    <button type="button" class="btn btn-danger" (click)="openToastrError()">
      Error
    </button>
    <button type="button" class="btn btn-warning" (click)="openToastrWarning()">
      Warning
    </button>
    <button type="button" class="btn btn-info" (click)="openToastrInfo()">
      Information
    </button>
  </div>
</div>
